{% extends "base.html" %}
{% block body %}

<!-- ####################################################################################################### -->

<div class="wrapper col3">
    <div id="breadcrumb">
        <ul>
            <li class="first">You Are Here</li>
            <li>&#187;</li>
            <li><a href="#">Home</a></li>
            <li>&#187;</li>
            <li><a href="#">Grand Parent</a></li>
            <li>&#187;</li>
            <li><a href="#">Parent</a></li>
            <li>&#187;</li>
            <li class="current"><a href="#">Child</a></li>
        </ul>
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col4">
    <div id="container">
        <div id="content">

            <table summary="Summary Here" cellpadding="0" cellspacing="0">
                <colgroup>
                    <col style="width: auto">
                    <col style="width: 400px">
                    <col style="width: auto">
                    <col style="width: auto">
                </colgroup>
                <thead>
                <tr>
                    <th>게시자</th>
                    <th>제목</th>
                    <th>날짜</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr class="light">
                    <td>Name 1</td>
                    <td>Title 1</td>
                    <td>Date 1</td>
                    <td>Visitor 1</td>
                </tr>
                <tr class="dark">
                    <td>Name 2</td>
                    <td>Title 2</td>
                    <td>Date 2</td>
                    <td>Visitor 2</td>
                </tr>

                {% for post in posts %}
                {% if post.id % 2 %}
                <tr class="light">
                    {% else %}
                <tr class="dark">
                    {% endif %}
                    <td>{{ post.writer }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.updated_time|string|regex_replace("\ \d{2}:\d{2}:\d{2}\.\d{6}", "") }}</td>
                    <td>yet</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>


            <div id="comments">
                <h2>Comments</h2>
                <ul class="commentlist">
                    <li class="comment_odd">
                        <div class="author"><img class="avatar" src="{{ url_for('static', filename='images/demo/avatar.gif') }}" width="32" height="32" alt="" /><span class="name"><a href="#">테스트 이름</a></span> <span class="wrote">wrote:</span></div>
                        <div class="submitdate"><a href="#">타임스탬프 이곳에</a></div>
                        <p>코멘트 테스트</p>
                    </li>
                    {% for comment in comments %}
                    {% if comment.id % 2 %}
                    <li class="comment_even">
                        {% else %}
                    <li class="comment_odd">
                        {% endif %}
                        <div class="author">
                            <img class="avatar" src="{{ url_for('static', filename='images/demo/avatar.gif') }}" width="32" height="32" alt="" />
                            <span class="name">
                                <a href="#">{{comment.name}}</a>
                            </span>
                            <span class="wrote">wrote:</span>
                        </div>

                        <a href="{{ url_for('board_free_delete_comment', comment_id=comment.id) }}" class="delete">
                            <img class="trash" src="{{ url_for('static', filename='images/demo/trash.png') }}" width="32" height="32" alt="" />
                        </a>
                        <div class="submitdate"><a href="#">{{ comment.updated_time|string|regex_replace('(\.\d{6})', '') }}</a></div>
                        <p>{{comment.comment}}</p>
                    </li>
                    {% endfor %}

                </ul>

            </div>
            <h2>Write A Comment</h2>
            <div id="respond">
                <form action="#respond" method="POST">
                    <p>
                        <input type="text" name="name" id="name" value="" size="22" required/>
                        <label for="name"><small>Name (required)</small></label>
                    </p>
                    <p>
                        <input type="text" name="email" id="email" value="" size="22" required/>
                        <label for="email"><small>Mail (required)</small></label>
                    </p>
                    <p>
                        <textarea name="comment" id="comment" cols="100%" rows="10" required></textarea>
                        <label for="comment" style="display:none;"><small>Comment (required)</small></label>
                    </p>
                    <p>
                        <input name="submit" type="submit" id="submit" value="Submit Form" />
                        <input name="reset" type="reset" id="reset" tabindex="5" value="Reset Form" />
                    </p>
                </form>
            </div>
        </div>
        <div id="column">
            <div class="subnav">
                <h2>Secondary Navigation</h2>
                <ul>
                    <li><a href="#">Navigation - Level 1</a></li>
                    <li><a href="#">Navigation - Level 1</a>
                        <ul>
                            <li><a href="#">Navigation - Level 2</a></li>
                            <li><a href="#">Navigation - Level 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Navigation - Level 1</a>
                        <ul>
                            <li><a href="#">Navigation - Level 2</a></li>
                            <li><a href="#">Navigation - Level 2</a>
                                <ul>
                                    <li><a href="#">Navigation - Level 3</a></li>
                                    <li><a href="#">Navigation - Level 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Navigation - Level 1</a></li>
                </ul>
            </div>
            <div class="holder">
                <h2 class="title"><img src="{{ url_for('static', filename='images/demo/60x60.gif') }}" alt="" />Nullamlacus dui ipsum conseque loborttis</h2>
                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
                <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
            </div>
            <div id="featured">
                <ul>
                    <li>
                        <h2>Indonectetus facilis leonib</h2>
                        <p class="imgholder"><img src="{{ url_for('static', filename='images/demo/240x90.gif') }}" alt="" /></p>
                        <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
                        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
                    </li>
                </ul>
            </div>
            <div class="holder">
                <h2>Lorem ipsum dolor</h2>
                <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed.</p>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit</a></li>
                    <li>Etiam vel sapien et</li>
                    <li><a href="#">Etiam vel sapien et</a></li>
                </ul>
                <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed. Condimentumsantincidunt dui mattis magna intesque purus orci augue lor nibh.</p>
                <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
